@import url(https://fonts.googleapis.com/css?family=Open+Sans);


#slideshow {

    margin: 1 px auto;
    position: relative;
    width: 360px;
    height: 270px;
    padding: 1px;
    /*box-shadow: 0 0 20px rgba(0,0,0,0.4);*/
}

#slideshow > div{
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px; }

#slideshow img{
    width: 360px;
    height: 270px;
}
/* Sticky footer styles
-------------------------------------------------- */

html {
  position: relative;
  min-height: 100%;
}

body {
    padding-top: 40px;
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

@media screen and (max-width: 1061px) {
    body { padding-top: 80px; }
}

@media screen and (max-width: 767px) {
    body { padding-top: 50px; }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

/* Navigation bar
-------------------------------------------------- */

.navbar-nav > li > a, .navbar-brand {
    padding-top:10px !important; padding-bottom:0 !important;
    height: 40px;
}
.navbar {
    min-height:40px !important;
/*    max-height:40px !important;*/
}

.navbar-custom {
/*    height: 30px !important;*/
    background-color:#0A2140;
    color:#ffffff;
    border-radius:0;
    font-family: 'Open Sans', sans-serif!important;
}

.navbar-custom .navbar-nav > li > a {
    color:#fff;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color:transparent;
}

.navbar-custom .navbar-nav > .active > a{

     background-color:#FFEA0D;
     color: #000000;
     border:none;
}

.navbar-custom .navbar-nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #000000;
}

.navbar-custom .navbar-brand {
    color:#eeeeee;
}

.navbar-brand
{
  font-size: 14px;
}

.dropdown-menu{
    padding: 1px;
}

.dropdown-menu > li > a {
            background-color:#0A2140;
            color: #ffffff;
 }

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
            background-image:none !important;
 }
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
            background-color:#000000;
            color:#ffffff;
 }

/*.container-fluid > .navbar-header {
    min-height: 40px !important;
}*/

/* Gradient front page
-------------------------------------------------- */

.welcome-message{
    padding-top: 0px;
    /*background-color: #0a2240;*/
}

#welcomeText{
    color:#ffffff;
}


#grad1 {
    /*height: 250px;*/
    /*width: 100%;*/
    color: #000000;
    background: #0a2240; /* fallback for old browsers */
    background: -webkit-linear-gradient( #0a2240 , #4CA1AF , #ffffff); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(#0a2240 , #4CA1AF , #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: 0.95;
}



/*=========================
  Quick link Icons
 ================= */

ul.quick-link {
    list-style: none;
    display: inline;
    margin-left:0 !important;
    padding: 0;
}
ul.quick-link li {
    display: inline;
    margin: 0 5px;
}


/* footer social icons */
.quick-link a.icoRss:hover {
    background-color: #F56505;
}
.quick-link a.icoPubs:hover {
    background-color:#3B5998;
}
.quick-link a.icoPeople:hover {
    background-color:#FFD700;
}
.quick-link a.icoDownload:hover {
    background-color:#BD3518;
}
.quick-link a.icoEmail:hover {
    background-color:#007bb7;
}

.quick-link a.icoDatabase:hover {
    background-color:#32CD32;
}

.quick-link a.icoRss:hover i, .quick-link a.icoPubs:hover i, .quick-link a.icoPeople:hover i,
.quick-link a.icoDownload:hover i, .quick-link a.icoDatabase:hover i, .quick-link a.icoEmail:hover i {
    color:#fff;
}

.quick-link-circle li a {
    display:inline-block;
    position:relative;
    margin:0 auto 0 auto;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%;
    text-align:center;
    width: 30px;
    height: 30px;
    font-size:15px;
}
.quick-link-circle li i {
    margin:0;
    line-height:30px;
    text-align: center;
}

.quick-link-circle li a:hover i, .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}
.quick-link-circle i {
    color: #fff;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

.quick-link-circle a {
 background-color: #000000;
}


/*--------------------------------------------------*/

.img-header {
    display: block;
    margin-left: auto;
    margin-right: auto;
}



/* Carousel
-------------------------------------------------- */
#myCarousel {
  height: auto;
  width: auto;
  overflow: hidden;
}

#myCarousel kbd {
    font-family: 'Open Sans', sans-serif!important;
    background-color: rgba(0,64,128,0.6)!important;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
}

.btn-primary.gradient {
    background: -moz-linear-gradient(top,  #33a6cc 50%, #0099cc 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#33a6cc), color-stop(50%,#0099cc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #33a6cc 50%,#0099cc 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #33a6cc 50%,#0099cc 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #33a6cc 50%,#0099cc 50%); /* IE10+ */
    background: linear-gradient(to bottom,  #33a6cc 50%,#0099cc 50%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33a6cc', endColorstr='#0099cc',GradientType=0 ); /* IE6-9 */
}

.btn-primary.gradient:hover, .btn-primary.gradient:focus, .btn-primary.gradient:active, .btn-primary.gradient.active, .open > .dropdown-toggle.btn-primary {
    background: -moz-linear-gradient(top,  #66b2cc 50%, #33a6cc 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#66b2cc), color-stop(50%,#33a6cc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #66b2cc 50%,#33a6cc 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #66b2cc 50%,#33a6cc 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #66b2cc 50%,#33a6cc 50%); /* IE10+ */
    background: linear-gradient(to bottom,  #66b2cc 50%,#33a6cc 50%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66b2cc', endColorstr='#33a6cc',GradientType=0 ); /* IE6-9 */
}

.btn-primary.gradient:active, .btn-primary.gradient.active {
    background: -moz-linear-gradient(top,  #267c99 50%, #007299 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#267c99), color-stop(50%,#007299)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #267c99 50%,#007299 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #267c99 50%,#007299 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #267c99 50%,#007299 50%); /* IE10+ */
    background: linear-gradient(to bottom,  #267c99 50%,#007299 50%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#267c99', endColorstr='#007299',GradientType=0 ); /* IE6-9 */
}

/*.carousel-indicators li {
  background-color: #999 !important;
  background-color: rgba(70,70,70,.25) !important;
}

.carousel-indicators .active {
  background-color: #444 !important;
}
*/


.containerpadding{
    padding-top: 10px;
}

#researchbanner{
    padding-top: 0px;
}

.newsfeed >iframe {
    width: 100%;
    height: 800px;
    border-style: none;
}

.funding{
    padding-bottom: 20px;
}

/*.containerpeople {
  padding: 80px 120px;
}

.person {
  border: 10px solid transparent;
  margin-bottom: 25px;
  width: 50%;
  height: 50%;
  opacity: 0.8;
}
.person:hover {
  border-color: #f1f1f1;
}*/


/* Stylish panel for research
-------------------------------------------------- */
.stylish-panel {
    padding: 20px 0;
    text-align: center;
}
.stylish-panel > div > div{
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: 0.2s;
}
.stylish-panel > div:hover > div{
    margin-top: -10px;
    border: 1px solid rgb(200, 200, 200);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
    background: rgba(200, 200, 200, 0.1);
    transition: 0.5s;
}

.stylish-panel > div:hover img {
    border-radius: 50%;
    /*transition: 2s;*/
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}
/*-------------------------------------------------- */


.back-research{
    padding: 20px 0;
}

.bg-footer {
    background-color: #0a2240;
    color: #ffffff;
}

#footer-title{
    color:#73a8e9;
    font-size:16px;
}

/* Spinning glyphicon in form submission
-------------------------- */
.glyphicon-refresh-animate {
  -animation: spin .7s infinite linear;
  -webkit-animation: spin2 .7s infinite linear;
}
@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}
@keyframes spin {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}


/* Back-to-top sticky button in pubs.htm
-------------------------- */
.go-top {

    position: fixed;
    bottom: 2em;
    right: 2em;
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 12px;
    padding: 1em;
    display: none;

}

.go-top i {
  /*font-size: 35px;*/
  /*text-align: center;*/
  background-color: rgba(0, 0, 0, 0.6);
}


#pub-list-group > .list-group-item{

    border-color: white!important;

}