<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".mol" mimeType="chemical/x-mdl-molfile" />
            <mimeMap fileExtension=".rxn" mimeType="chemical/x-mdl-molfile" />
        </staticContent>
        <defaultDocument>
            <files>
                <add value="metrxn.php" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
