@charset "utf-8";
/* CSS Document */

<style type="text/css">
	.header {

		width:100%;
		top:0;
		border:none;


	}
	.footer {
		position:relative;
		bottom:0;
		width:100%;
	}
	.content {
	float:left;
	width:80%;
	position:relative;
	clear: both;
	border: 1px solid;
	}
	.leftbar{
		float:left;
		width:20%;
		position:relative;



		}
	iframe{
		border:0;
	}
	table
	{
	border-collapse:collapse;
	margin:20px;
	}
	td
	{
	padding:2px;
	}
	.imageframe {

	}
	img {
		margin:20px;
		float:left;

	}
	#structure {

		float:left;
	}
	#synonym {
		bottom:1;
		float:none;
	}

	</style>
